<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title>Error</title>
  <style>
    html, body {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    pre {
      font-family: "Courier New", Courier, monospace; font-size: 10px;
    }
  </style>
</head>
<body>
<div class="container-fluid main-container">
  <h2>Timesheet errors</h2>
  <pre><p th:text="${stackTrace}">This text will be replaced by the th:text parameter.</p></pre>
  <br/><br/><br/>
  <a th:href="@{/upload-ena}">Upload ENA Timesheet</a>

</div>
</body>
</html>