<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title>Error</title>
  <style>
    /* CSS code to center the form */
    html, body {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
<div class="container-fluid main-container">
  <h2>Timesheet errors</h2>
  (show the errors here)
  <br/><br/><br/>
  <a th:href="@{/upload-ena}">Upload ENA Timesheet</a>

</div>
</body>
</html>